{% extends "base.html" %} {% block title %}{% endblock %} {% block content
    %}
<div class="glassmorphismBox">
    <form method="POST">
        <a href="/sign-up" class="flipBtn">Sign Up Instead</a>
        <br><br>
            
        <input
          type="email"
          class="textInStyl"
          id="email"
          name="email"
          placeholder="Email@example.com"
        />
        <br><br>
        <input
          type="password"
          class="textInStyl"
          id="password"
          name="password"
          placeholder="Password"
        />
      <br><br>
    
    <button 
    type="submit" 
    id="meetSomeoneNew" 
    class="flipBtn" 
    style="         
    text-shadow:      
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 10px;"
    >Meet Someone New
    </button>
  </form>
</div>

{% endblock %}
